- var txt = "In <code>breakpoints.scss</code>, find differents mixins : <code>breakpoints-min($breakpoint)</code> <code>breakpoints-max($breakpoint)</code> <code>breakpoints-between($breakpoint)</code> to play with differents devices points."

.styleguide-infos
  p!= txt
section(class="grid styleguide-breakpoints col--1"): .col: h3: code
