- var txt = "Lorem ipsum dolor sit amet consectetur adipisicing elit. In et dicta porro? Veritatis vero dolorem ut at optio corrupti fugit dolore, qui totam aliquid amet debitis mollitia ullam animi quidem exercitationem! Libero quas earum cum molestias iusto!"


p= txt
section(class="grid styleguide-buttons col--2")
  .col
    h3 btn a
    a(class='btn') a href
    a(class='btn') a href outlined
    a(class='btn') a href icon text
    a(class='btn icon'): +icon("link", "font-awesome")
    a(class='btn') a href full
    a(class='btn') a href rounded
    a(class='btn icon rounded'): +icon("link", "font-awesome")
    a(class='btn') a href radius
    a(class='btn') a href disabled
  .col
    h3 button
    button.btn button outlined
    button.btn button
    button.btn button icon text
    button.btn button icon
    button.btn button full
    button.btn button rounded
    button.btn button rounded icon
    button.btn button radius
    button.btn button disabled
