//- block colors


- var txt = "Lorem ipsum dolor sit amet consectetur adipisicing elit. In et dicta porro? Veritatis vero dolorem ut at optio corrupti fugit dolore, qui totam aliquid amet debitis mollitia ullam animi quidem exercitationem! Libero quas earum cum molestias iusto!"
- var titles = ["h1", "h2", "h3", "h4", "h5", "h6"]

p= txt
section(class="grid col--1")
  each title, key in titles
    #{title} This is a #{title.toUpperCase()} title

