- var txt = "Base on the script <a href='https://github.com/nico3333fr/van11y-accessible-hide-show-aria' target='_blank' class='text-link'>van11y-accessible-simple-tooltip-aria</a>, you can add any tooltip with the class <code>.js-simple-tooltip</code>. Add an additionnal class to set the position of your tooltip: <code>.tooltip--top</code> <code>.tooltip--right</code> <code>.tooltip--bottom</code> <code>.tooltip--left</code> <code>.tooltip--top-left</code> <code>.tooltip--top-right</code> <code>.tooltip--bottom-left</code> <code>.tooltip--bottom-right</code>. All tooltips are accessible and visible on focus."

- var tooltips = ['top-left', 'top', 'top-right', 'right', 'empty', 'left', 'bottom-left', 'bottom', 'bottom-right']

.styleguide-infos
  p!= txt
section(class="grid styleguide-tooltips col--3")
  each tooltip in tooltips
    .col
      if(tooltip !== "empty")
        button(class='btn outlined rounded js-simple-tooltip tooltip--'+tooltip data-simpletooltip-text=tooltip.replace("-", " ") ) Hover me
      else
        div
