- var projectLinks = ['gitlab', 'github', 'bitbucket']

footer(role="contentinfo")
  each link in projectLinks
    a(class='btn icon rounded')
      case link
        when projectLinks[0]
          +icon(link.toLowerCase(), "font-awesome")

        when projectLinks[1]
          +icon(link.toLowerCase(), "font-awesome")

        when projectLinks[2]
          +icon(link.toLowerCase())

