/* FOOTER */
$paddingFooter : $paddingBody;

footer[role='contentinfo'] {
  grid-area: footer;
  position: sticky;
  bottom: 0;
	z-index: 3;
	max-width: $minWidth/2 + $paddingContentHor;
	padding: 0 $paddingItemsNav;
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	justify-items: center;
	align-items: center;
}

.right-nav{
	footer[role="contentinfo"]{
		grid-column : 1 / 5;
	}
}
