block vars
  - var documentTitle = "Marvin Starter"
  - var lang = "fr"
  - var headerLess = false
  - var navLess = false
  - var footerLess = false

html(lang=lang)

  head
  block head

    include ../../includes/layout/head

    title=documentTitle

    include ../../includes/utils/mixins

  body(class=navLess ? 'nav-less' : null)
    div#app

      if(!headerLess)
        include ../partials/header

      if(!navLess)
        include ../partials/nav

      block body

      if(!footerLess)
        include ../partials/footer

