block vars
  // GLOBAL
  - var documentTitle = htmlWebpackPlugin.options.title
  - var lang = "fr"
  // PATHS
  - var imgDir = 'assets/images/'
  - var spriteSvgIcons = './assets/icons/custom/sprite.svg'
  // CLASSES
  - var headerLess = false
  - var navLess = false
  - var footerLess = false
  - var styleguide = false
  // FONT
  - var fontCustomName = "Raleway";
  - var fontFamilyName = "Inter";
  - var googleFontsUrl = "https://fonts.googleapis.com/css2?family="+fontFamilyName.replace(" ", "+")+":wght@300;400;500;600;700&display=optional"
  // ITEMS STYLEGUIDE
  - var starterItems = ["colors", "Typography", "Titles", "Icons", "Grid", "menu", "Buttons", "Tags", "Tooltip" , "Forms", "images", "Pages"]

html(lang=lang)

  head
    block head

    include ../../includes/layout/head

    title=documentTitle

    include ../../utils/mixins

  body( class=navLess ? 'nav-less' : null || styleguide ? 'styleguide' : null )

    div#app(style="font-family:"+fontFamilyName+", sans-serif;")

      if(!headerLess)
        include ../../components/header/header

      if(!navLess)
        include ../../components/nav/nav

      main(role="main")
        block main

      if(!footerLess)
        include ../../components/footer/footer

