block vars
  - var documentTitle = "Marvin Starter - Start here"
  - var lang = "fr"
  - var headerLess = false
  - var navLess = false
  - var footerLess = false
  - var styleguide = false
  - var imgDir = 'assets/images/'
  - var starterItems = ["colors", "Typography", "Titles", "Icons", "images", "Buttons", "Tags", "Forms", "menu", "Accessibility"]

html(lang=lang)

  head
    block head

    include ../../includes/layout/head

    title=documentTitle

    include ../../utils/mixins

  body(class=navLess ? 'nav-less' : null || styleguide ? 'styleguide' : null)

    div#app

      if(!headerLess)
        include ../../components/header/header

      if(!navLess)
        include ../../components/nav/nav

      main(role="main")
        block main

      if(!footerLess)
        include ../../components/footer/footer

