block vars
  //- CLASSES
  - var styleguide = false
  - var typeLayout = ["right-nav", "top-nav"]
  //- FONTS
  - var fontCustomName = "Raleway";
  - var fontFamilyName = "Inter";
  - var googleFontsUrl = "https://fonts.googleapis.com/css2?family="+fontFamilyName.replace(" ", "+")+":wght@300;400;500;600;700&display=optional"


doctype html
html(lang="fr")

  head
    block head
    include ../../includes/layout/head
    include ../../utils/mixins

  body(class=styleguide ? 'styleguide' : null )
    div#app(style="font-family:"+fontFamilyName+", sans-serif;" class=!styleguide ? typeLayout[1] : false)

      if(!styleguide)
        include ../../components/header/header
        include ../../components/nav/nav
        main(role="main"): block main
        include ../../components/footer/footer

      else
        - var starterItems = ["colors", "Typography", "Titles", "Icons", "Breakpoints", "Grid", "menu", "Buttons", "Tags", "Tooltip" , "Forms", "images"]
        include ../../styleguide/components/header
        include ../../styleguide/components/nav
        main(role="main"): block main
        include ../../styleguide/components/footer






  //- body( class=navLess ? 'nav-less' : null || styleguide ? 'styleguide' : null )

    div#app(style="font-family:"+fontFamilyName+", sans-serif;" class=!styleguide ? typeLayout[1] : false)

      if(!headerLess)
        if(styleguide)
          include ../../styleguide/components/header
        else
          include ../../components/header/header

      if(!navLess)
        button(type="button" aria-expanded="false" aria-controls="main-nav").button-nav.active-circle: +burger-svg()
        nav(role="navigation" aria-label="Main navigation")
          ul(id="main-nav")
            if(styleguide)
              include ../../styleguide/components/nav
            else
              include ../../components/nav/nav

      main(role="main")
        block main

      if(!footerLess)
        if(styleguide)
          include ../../styleguide/components/footer
        else
          include ../../components/footer/footer

