append vars

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="description" content="A starter and styleguide for any quick setup of HTML/CSS components")
meta(property="og:title" content="Marvin Starter")
meta(property="og:type" content="Styleguide")
meta(property="og:url" content="https://www.marvinx.com")
meta(property="og:image" content="https://www.marvinx.com/assets/favicon/favicon-48x48.png")
link(rel="preconnect" href="https://fonts.googleapis.com" crossorigin)
link(rel="prefetch" href=googleFontsUrl as="font")
link(href=googleFontsUrl rel="stylesheet")
noscript Your browser does not support JavaScript!

