append vars

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="description" content="A starter and styleguide for any quick setup of HTML/CSS components")

link(rel="preconnect" href="https://fonts.googleapis.com" crossorigin)
link(rel="prefetch" href=googleFontsUrl as="font")
link(href=googleFontsUrl rel="stylesheet")
//- MATERIAL ICONS
link(defer href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
//- FONT AWESOME
script(defer src="https://use.fontawesome.com/9e3a5995c3.js")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer")
//- BOOTSTRAP GLYPHICON
link(defer href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
noscript Your browser does not support JavaScript!
