

extends ../includes/layout/default

include ../utils/icons

append head

append vars
  - var documentTitle = "Marvin Starter - Styleguide"

append main

  a(href="./index.html") back to starter

  //- .styleguide-title Marvin-Starter

  //- h1 Title level 1
  //- h2 Title level 2
  //- h3 Title level 3
  //- h4 Title level 4
  //- h5 Title level 5
  //- h6 Title level 6


  // Bootstrap glyphicons classes
  i.glyphicon.glyphicon-cloud
  i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-user
  i.glyphicon.glyphicon-envelope
  i.glyphicon.glyphicon-thumbs-up
  // font-awesome classes
  i.fa.fa-spinner.fa-spin
  i.fa.fa-circle-o-notch.fa-spin
  i.fa.fa-refresh.fa-spin
  i.fa.fa-cog.fa-spin
  i.fa.fa-spinner.fa-pulse
  //- i.fa.fa-car.fa-4x.fa-stack-2x
  // material-design-icons class and contents
  i.material-icons cloud
  i.material-icons favorite
  i.material-icons attachment
  i.material-icons computer
  i.material-icons traffic


  .styleguide-grid
    .col
      p img html jpg
      img(src="assets/images/image.jpg" alt="")
    .col
      p img html png
      img(src="assets/images/image.png" alt="")
    .col
      p img html gif
      img(src="assets/images/image.gif" alt="")
    .col
      p img css jpg
      .img
    .col
      p img css png
      .img
    .col
      p img css gif
      .img

