extends ../includes/layout/default

include ../utils/icons

append head

append vars
  - var documentTitle = "Marvin Starter - Styleguide"
  - var styleguide = true

append main
  each starterItem in starterItems
    - var item = starterItem.toLowerCase()

    .styleguide-content(id=item)
      h2.styleguide-title= starterItem
      case item
        when "colors"
          include partials/colors

        when "typography"
          include partials/typography

        when "titles"
          include partials/titles

        when "icons"
          include partials/icons

        when "images"
          include partials/images

        when "pages"
          include partials/pages

        default
          p There is no item related to this section

