@import "../assets/styles/styles.scss";

/* css that only inpact the starter himself */
.styleguide-title {
  --font-size--title: 5rem;
  --font-weight--title: 600;
  font-weight: var(--font-weight--title);
  font-size: var(--font-size--title);
  line-height: var(--font-size--title);
  @include underlineText();
  padding-bottom: 2rem;
  margin-bottom: 5rem;

  &::after {
    opacity: 0.3;
  }
}

/* BLOC IMAGE */

$imgs: (
  1: "image.jpg",
  2: "image.png",
  3: "image.gif",
  4: "image.svg",
  5: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAwFBMVEXm7NK41k3w8fDv7+q01Tyy0zqv0DeqyjOszDWnxjClxC6iwCu11z6y1DvA2WbY4rCAmSXO3JZDTxOiwC3q7tyryzTs7uSqyi6tzTCmxSukwi9aaxkWGga+3FLv8Ozh6MTT36MrMwywyVBziSC01TbT5ZW9z3Xi6Mq2y2Xu8Oioxy7f572qxzvI33Tb6KvR35ilwTmvykiwzzvV36/G2IPw8O++02+btyepyDKvzzifvSmw0TmtzTbw8PAAAADx8fEC59dUAAAA50lEQVQYV13RaXPCIBAG4FiVqlhyX5o23vfVqUq6mvD//1XZJY5T9xPzzLuwgKXKslQvZSG+6UXgCnFePtBE7e/ivXP/nRvUUl7UqNclvO3rpLqofPDAD8xiu2pOntjamqRy/RqZxs81oeVzwpCwfyA8A+8mLKFku9XfI0YnSKXnSYZ7ahSII+AwrqoMmEFKriAeVrqGM4O4Z+ADZIhjg3R6LtMpWuW0ERs5zunKVHdnnnMLNQqaUS0kyKkjE1aE98b8y9x9JYHH8aZXFMKO6JFMEvhucj3Wj0kY2D92HlHbE/9Vk77mD6srRZqmVEAZAAAAAElFTkSuQmCC",
);


$nbrImgs: length($imgs);

.styleguide-grid {
  display: grid;
  grid-template-columns: repeat($nbrImgs, 1fr);
  grid-gap: $paddingContentHor;
  grid-auto-flow: row;
  align-items: stretch;
  justify-items: stretch;

  .col{

    p{
      width: 100%;
    }

    &:last-of-type{
      img{
        width: unset;
      }
    }
  }

  @each $key, $img in $imgs {
    .col {
      &:nth-child(#{$key + $nbrImgs}) {
        .img {
          @include bgimage($img);
        }
      }
    }
  }

  @each $key, $breakpoint in $breakpoints{
    $i: index($breakpoints, $key $breakpoint);
    @include respond-to(#{$key}){
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
