

extends ../includes/layout/default

include ../utils/icons

append head

append vars
  - var documentTitle = "Marvin Starter - Styleguide"

append main

  each starterItem in starterItems
    .styleguide-content(id=starterItem.toLowerCase())
      h2.styleguide-title= starterItem
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. At numquam tempora nesciunt harum eum odit praesentium excepturi, ipsa natus dolor? Quidem consequuntur perspiciatis repellat, corrupti libero ullam sapiente magni optio deserunt id veniam soluta earum assumenda, quae fugit corporis tempora. Saepe veniam ab praesentium eum, aspernatur expedita! Tempora hic minima, ex quod, cupiditate ipsa aliquam delectus ea voluptas ab fugit? Placeat tempore non consequatur at impedit, minus error velit dolores soluta repellat rerum excepturi distinctio veritatis porro! Numquam reprehenderit ipsam dolorum, placeat nostrum necessitatibus dicta praesentium laudantium ratione quibusdam ab id culpa, quos optio ea. Vel odit earum molestiae odio vitae repellat fugit accusantium incidunt est debitis commodi, voluptatibus similique facilis obcaecati, harum sapiente ipsum dolorem maiores assumenda dolorum ea. Quos magnam omnis repudiandae, libero laboriosam molestiae, autem molestias illum nisi ab impedit facere dignissimos deleniti nobis, praesentium sequi voluptatibus nulla iste. Atque repellat odio dolorem aperiam cupiditate consequuntur quidem, amet sequi, praesentium placeat, asperiores at animi ipsa autem. Commodi facilis possimus soluta cupiditate fugit aliquid voluptatum quo officia perspiciatis quam, laudantium, doloremque voluptas? Sapiente quae ducimus quasi id dignissimos assumenda provident, nostrum saepe culpa dolor, commodi et sed laudantium quibusdam corrupti, possimus porro! Fugit laborum cum ea earum quidem architecto veritatis impedit, quas reiciendis quae nesciunt culpa sit ipsam ratione? Delectus dolor unde distinctio iusto nam sint velit. Magni ducimus quaerat modi aspernatur doloribus animi corrupti quisquam labore natus amet sequi, molestias voluptatem? Inventore, eum. Tempora voluptatibus debitis rem fugiat magni. Voluptatem molestiae necessitatibus ea aut architecto, iusto amet.


  //- a(href="./index.html") back to starter

  //- .styleguide-title Marvin-Starter
  //- h1 Title level 1
  //- h2 Title level 2
  //- h3 Title level 3
  //- h4 Title level 4
  //- h5 Title level 5
  //- h6 Title level 6


  //- // Bootstrap glyphicons classes
  //- i.glyphicon.glyphicon-cloud
  //- i.glyphicon.glyphicon-remove
  //- i.glyphicon.glyphicon-user
  //- i.glyphicon.glyphicon-envelope
  //- i.glyphicon.glyphicon-thumbs-up
  //- // font-awesome classes
  //- i.fa.fa-spinner.fa-spin
  //- i.fa.fa-circle-o-notch.fa-spin
  //- i.fa.fa-refresh.fa-spin
  //- i.fa.fa-cog.fa-spin
  //- i.fa.fa-spinner.fa-pulse
  //- //- i.fa.fa-car.fa-4x.fa-stack-2x
  //- // material-design-icons class and contents
  //- i.material-icons cloud
  //- i.material-icons favorite
  //- i.material-icons attachment
  //- i.material-icons computer
  //- i.material-icons traffic

  //- - var methods = ["html", "css"]
  //- each method in methods
  //-   .styleguide-imgs.styleguide-grid.col--6

  //-     - var extensions = ["jpg", "png", "gif", "svg", "webp", "data-uri"]
  //-     each extension, key in extensions
  //-       .col
  //-         - var name = method === 'html' ? 'html ' : 'css ';
  //-         p= key+1 + ': image '+ name +' ' + extension

  //-         if method === 'html'
  //-           case extension
  //-             when "jpg"
  //-               - var originalImgJpg = require("../"+imgDir+"image.jpg").src
  //-               +img-src(originalImgJpg)

  //-             when "png"
  //-               - var originalImgPng = require("../"+imgDir+"image.png").src
  //-               +img-src(originalImgPng, true)

  //-             when "gif"
  //-               +img-src(imgDir+"image.gif")

  //-             when "svg"
  //-               +img-src(imgDir+"image.svg", true, ' ', ' ', false)

  //-             when "webp"
  //-               - var originalImgWebp = require("../"+imgDir+"image.webp").src
  //-               +img-src(originalImgWebp, true)

  //-             when "data-uri"
  //-               - var originalImgDataUri = require("../"+imgDir+"image.jpg").placeholder
  //-               +img-src(originalImgDataUri, false, " ", 40, 40, false)

  //-         else
  //-           .img


  //- - var sizes = [1920, 1024, 480];
  //- - var heightImageSrcSet = 300;
  //- - var extImageSrcSet = 'jpg';
  //- - var imageSrcset = "https://via.placeholder.com/"+sizes[0]+"x"+heightImageSrcSet+"."+extImageSrcSet
  //- - var srcSet = imageSrcset +' '+ sizes[0]+"w, https://via.placeholder.com/"+sizes[1]+"x"+heightImageSrcSet+"."+extImageSrcSet+" "+sizes[1]+"w, https://via.placeholder.com/"+sizes[2]+"x"+heightImageSrcSet+"."+extImageSrcSet+" "+sizes[2]+"w";

  //- each method in methods
  //-   if method === 'html'
  //-     .styleguide-content
  //-       p image srcset html
  //-       +img-src(imageSrcset, false, "image srcset", sizes[1], heightImageSrcSet, false, srcSet, '100w')
  //-     .styleguide-content
  //-       p image srcset html picture
  //-       +img-src(imageSrcset, true, "image picture srcset", sizes[1], heightImageSrcSet, false, srcSet, '100w', extImageSrcSet)
  //-   else
  //-     .styleguide-content.styleguide-srcset
  //-       p image srcset css
  //-       .img

