mixin set-svg(viewBoxX, viewBoxY, aspectRatio = 'none')
  svg(viewBox='0 0 ' + viewBoxX + ' ' + viewBoxY style='enable-background:new 0 0 ' + viewBoxX + ' ' + viewBoxY + ';' xml:space='preserve' preserveAspectRatio=aspectRatio)

