body {
  font-size: $fontSizeBase;
  color: lightness(var(--primary), 0.9);
  background-color: var(--white);
  line-height: $lineHeightBase;
  letter-spacing : $letterSpacingBase;
  font-weight: $fontWeightBase;
  font-family: "Helvetica", "Arial", sans-serif;
  overflow-x : hidden;

  /* use to grab the content value in javascript */
  &::before {
    content: quote(map-get($breakpointsMin, "desktop"));
    display: none;
  }
}

body.nav-less {
  header[role="banner"],
  main[role="main"] {
    grid-column-start: 1;
  }
}

#app {
  $widthHeader : (calc(#{$widthNav} - #{$widthColumnButtonNav}));
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: $heightHeader 1fr $heightFooter;

  &.left-nav{
    grid-template-columns: $widthColumnButtonNav $widthHeader 1fr;
    grid-template-areas:
      "navbutton header main"
      "nav nav main"
      "footer footer footer";
  }

  &.right-nav{
    $widthHeaderRight : (calc(#{$widthNav} - #{$widthColumnButtonNav} + #{$paddingHeader}));
    grid-template-columns: $widthHeaderRight 1fr $widthHeader $widthColumnButtonNav;
    grid-template-areas:
      "header header header navbutton"
      "main main nav nav"
      "footer footer footer footer";
  }
}


/* remove this for a new start */
// .start-here{
//   $paddingStartHere: $widthNav/2 + $paddingContentHor;
//   $colorGradient1: lightness(var(--primary), 1.3);
//   $colorGradient2: lightness(var(--primary), 0.9);

//   height: calc(100vh - #{$paddingStartHere*2});
//   align-self : center;
//   background: linear-gradient($colorGradient1, $colorGradient2);
//   color : var(--white);
//   position: relative;
// }
