/* BREAKPOINTS */

@function set-rem-breakpoint($breakpointValue) {
  $value : $breakpointValue / $fontSizeBase;
  @return $value;
}

$mobileBreakPortrait: set-rem-breakpoint($minWidth);
$mobileBreakLandscape: set-rem-breakpoint(48rem);
$tabletBreakPortrait: set-rem-breakpoint(76.8rem);
$tabletBreakLandscape: set-rem-breakpoint(102.4rem);
$desktopBreak : set-rem-breakpoint(120rem);
$desktopMediumBreak : set-rem-breakpoint(133.6rem);
$desktopLargeBreak : set-rem-breakpoint(160rem);
$desktopMaxBreak: set-rem-breakpoint($maxWidth);

$breakpointsMin: (
  'mobile'  : ( min-width: 0rem ),
  'mobileLandscape' : (min-width: $mobileBreakPortrait+0.1rem),
  'tablet'  : (min-width: $mobileBreakLandscape + 0.1rem),
  'tabletLandscape'  : (min-width: $tabletBreakPortrait + 0.1rem),
  'smallDesktop'  :  (min-width: $tabletBreakLandscape + 0.1rem),
  'desktop'  :  (min-width: $desktopBreak + 0.1rem),
  'mediumDesktop'  :  (min-width: $desktopMediumBreak + 0.1rem),
  'largeDesktop'  : (min-width: $desktopLargeBreak + 0.1rem),
  'maxDesktop'  : (min-width: $desktopMaxBreak + 0rem)
);

$breakpointsMax: (
  'mobile'  : ( max-width: $mobileBreakPortrait + 0rem),
  'mobileLandscape' : (max-width: $mobileBreakLandscape + 0rem),
  'tablet'  : (max-width: $tabletBreakPortrait + 0rem),
  'tabletLandscape'  : (max-width: $tabletBreakLandscape + 0rem),
  'smallDesktop'  :  (max-width: $desktopBreak + 0rem),
  'desktop'  :  (max-width: $desktopMediumBreak + 0rem),
  'mediumDesktop'  :  (max-width: $desktopLargeBreak + 0rem),
  'largeDesktop'  : (max-width: $desktopMaxBreak + 0rem),
  'maxDesktop'  : (max-width: 100vw)
);


@mixin breakpoints-min($name) {
  @if map-has-key($breakpointsMin, $name) {
    @media screen and #{inspect(map-get($breakpointsMin, $name))} {
      @content;
    }
  }
}

@mixin breakpoints-max($name) {
  @if map-has-key($breakpointsMax, $name) {
    @media screen and #{inspect(map-get($breakpointsMax, $name))} {
      @content;
    }
  }
}

@mixin breakpoints-between($name) {
  @if map-has-key($breakpointsMin, $name) {
    @media screen and #{inspect(map-get($breakpointsMin, $name))} and #{inspect(map-get($breakpointsMax, $name))} {
      @content;
    }
  }
}

