

.btn{
  border: .1rem solid currentColor;
  background-color : alpha(var(--white), .85);
  padding: 0 $heightLinks/2;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: .015rem;
  height: $heightLinks;
  text-align: center;

  .fa,
  .material-icons,
  .fa-icon,
  .glyphicon,
  .custom-icon{
    margin-right : .75rem;
    font-size : $sizeBaseIcon + 0.2rem !important;
  }

  &.icon{
    $fontSizeIconRounded : $sizeBaseIcon + .7rem;

    .fa,
    .material-icons,
    .fa-icon,
    .glyphicon,
    .custom-icon{
      margin-right : 0;
    }

    .fa,
    .material-icons,
    .fa-icon,
    .glyphicon{
      font-size : $fontSizeIconRounded !important;
    }

    .fa-github{
      font-size: $fontSizeIconRounded + .5rem !important;
    }

    .custom-icon{
      width: $fontSizeIconRounded - 0.3rem;
      height: $fontSizeIconRounded - 0.3rem;
    }
  }

  &.rounded{
    border-radius: $heightLinks;

    &.icon{
      width: $heightLinks;
      padding: 0;
    }
  }
}
