.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

button,
a {
  &.active-circle {
    transition: background ease 0.1s;
    border-radius: 100%;

    &:active {
      background: alpha(var(--primary), 0.15);
    }
  }
}

/*  */
/* FONT-WEIGHT CLASSES */
/*  */

$weightFonts : ("Thin", "Extra-light", "Light", "regular", "Medium", "Semi-bold", "Bold", "Extra-bold", "Black");

@each $weightFont in $weightFonts{
  $i: index($weightFonts, $weightFont);
  .font-weight--#{to-lower-case($weightFont)}{
    font-weight: unquote("#{$i}00");
  }
}

.italic{
  font-style : italic;
}

/*  */
/* CROSSED TEXT */
/*  */
.crossed{
  position: relative;
  display: inline-block;

  &::before{
    @extend %after-before--utils;
    position: absolute;
    top : 50%;
    left : 0;
    width : 100%;
    height : 0.4rem;
    background : var(--red);
  }
}


/*  */
/* ICONS */
/*  */

.fa-icon{
  font-family:"FontAwesome";
}

.fa,
.material-icons{
  font-size : $sizeBaseIcon !important;
}

.fa-icon,
.glyphicon,
.custom-icon{
  width: $sizeBaseIcon;
  height: $sizeBaseIcon;
  font-size : $sizeBaseIcon;
}
