/* MAIN CONTAINER */
$paddingContentVert: $heightHeader + $paddingBody;
$paddingContentHor: $widthButtonNav + $paddingBody;

main[role="main"] {
	grid-area: main;
	grid-column-start: 1;
	grid-row-end: 4;
	justify-self: flex-end;
	width: 100%;
	max-width: $maxWidth;
	transition-property: width;
	transition-duration: $transitionNavDuration;
	transition-timing-function: $transitionNavEase;
	padding: $paddingContentVert $paddingContentHor;
	background: var(--white);
	color: var(--dark);
	position: relative;
	box-shadow: -0.2rem 1rem 2.5rem 0.2rem alpha(var(--dark), 0.2);
	background-size: cover;

	// &::after{
	// 	@extend %after-before--utils;
	// 	height : $heightHeader * 2;
	// 	width: $minWidth * 2;
	// 	position: fixed;
	// 	top: 0;
	// 	left: -($widthButtonNav + $marginButtonNav * 2);
	// 	background-image: radial-gradient(ellipse farthest-side at top left ,var(--white) 50%, transparent);
	// 	pointer-events: none;
	// }

	@include breakpoints-between(desktop) {
		z-index: 1;
	}
}
