/* MAIN CONTAINER */

main[role="main"] {
	grid-area: main;
	grid-column-start: 1;
	grid-row-end: 4;
	justify-self: center;
	background: var(--white);
	width: calc(100vw - #{$minWidth});
	transition-property: transform;
	transition-duration: $transitionNavDuration;
	transition-timing-function: $transitionNavEase;
	padding: 0 $paddingContentHor $paddingContentVert $paddingContentHor;

	@include breakpoints-max(smallDesktop) {
		width: 100vw;
		padding: 0 $paddingContentHorMobile $paddingContentVert $paddingContentHorMobile;
	}
}
