

@font-face {
  font-family: 'ralewayextralight';
  src: url('./assets/fonts/raleway-extralight-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ralewaylight';
  src: url('./assets/fonts/raleway-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ralewaymedium';
  src: url('./assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ralewaybold';
  src: url('./assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ralewayextrabold';
  src: url('./assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ralewayblack';
  src: url('./assets/fonts/raleway-black-webfont.woff2') format('woff2'),
       url('./assets/fonts/raleway-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


