* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	@extend %selection;
}

ul {
	list-style: none;
}

button,
a {
	&:focus,
	&:active {
		outline: 0.1rem dotted alpha(var(--fluo), 0.25);
	}
}

a {
	color: var(--dark);
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

svg {
	width: 100%;
	height: auto;
	fill: var(--dark);
	transform-origin: 50% 50%;
}

i {
	color: var(--dark);
}

picture {
	display: flex;
}

img,
.img {
	width: 100%;
	object-fit: cover;
	background-color: var(--light);
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 100%;
	min-height: 25vw;
}
