$lineHeightBaseTitles: 1;

$titles : (

  "h1" : (
    "font-size": (
      "default" : 5.6rem,
      "small" : 5.3rem
    ),
    "font-weight": 600,
    "letter-spacing": -0.3rem,
    "line-height": $lineHeightBaseTitles - .2
  ),


  "h2" : (
    "font-size": (
      "default" : 4rem,
      "small" : 3.25rem
    ),
    "font-weight": 600,
    "letter-spacing": -0.08rem,
    "line-height": $lineHeightBaseTitles
  ),


  "h3" : (
    "font-size": (
      "default" : 2.1rem,
      "small" : 1.9rem
    ),
    "font-weight": 600,
    "letter-spacing": -0.025rem,
    "line-height": $lineHeightBaseTitles
  ),


  "h4" : (
    "font-size": (
      "default" : 1.85rem,
      "small" : 1.65rem
    ),
    "font-weight": 500,
    "letter-spacing": -0.075rem,
    "line-height": $lineHeightBaseTitles
  ),


  "h5" : (
    "font-size": (
      "default" : 1.9rem,
      "small" : 1.7rem
    ),
    "font-weight": 400,
    "letter-spacing": -0.075rem,
    "line-height": $lineHeightBaseTitles
  ),


  "h6" : (
    "font-size": (
      "default" : 1.8rem,
      "small" : 1.65rem
    ),
    "font-weight": 300,
    "letter-spacing": -0.085rem,
    "line-height": $lineHeightBaseTitles,
  )
);



@each $title in $titles{
  $i: index($titles, $title);
  $titleStyles : map-keys(map-get($titles, "h#{$i}"));

  h#{$i},
  .style-h#{$i} {
    font-weight: normal;
    font-style: normal;
    color: currentColor;
    @extend %h#{$i}-style;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  %h#{$i}-style{
    @each $titleStyle in $titleStyles{
      @if($titleStyle != "font-size"){
        #{unquote($titleStyle)} : map-deep-get($titles, "h#{$i}", $titleStyle);
      }
      @else{
        $fontSizeDevices : map-values(map-deep-get($titles, "h#{$i}", "font-size"));

        @each $fontSizeDevice in $fontSizeDevices{
          $y: index($fontSizeDevices, $fontSizeDevice);
          @if($y == 1){
            #{unquote($titleStyle)} : $fontSizeDevice;
          }
          @else{
            @include breakpoints-max("tablet") {
              #{unquote($titleStyle)} : $fontSizeDevice;
            }
          }
        }
      }
    }
  }
}
