:root {
	/* COLORS */
	@include defineColorHSL(--white, 0, 0%, 100%);
	@include defineColorHSL(--black, 0, 0%, 0%);
	@include defineColorHSL(--dark, 0, 0%, 4%);
	@include defineColorHSL(--fluo, 60, 100%, 50%);
	@include defineColorHSL(--primary, 225, 48%, 45%);

	/* TYPOGRAPH */
	--font-family: "Inter", sans-serif;
}
/* PATHS */
$pathImgs : "./assets/images/";

/* SIZES */
//minimal wiewport size
$minWidth: 32rem;
$paddingBody: 1.6rem;

/* HEADER */
// logo width and height
$lengthLogo: 4rem;
$paddingHeader: $paddingBody;
$heightHeader: $lengthLogo + ($paddingHeader * 2);
$gapElemsHeader: 0.6rem;
$colorElemsHeader: var(--dark);

/* FOOTER */
$heightFooter: 5.8rem;

/* NAVIGATION */
$widthNav: $minWidth;
$widthButtonNav: $lengthLogo;
$marginButtonNav: $paddingBody/2;
$widthColumnButtonNav: $widthButtonNav + $marginButtonNav * 2;
$transitionNavEase: ease(easeInOutQuad);
$transitionNavDuration: 0.35s;
