extends includes/layout/default

include utils/icons

append vars

append head

append main
  section.start-here
    h2.style-h1 Start here
    a(href="./styleguide.html" target="_blank") use the styleguide
    +icon("equalizer", "material-icons")
