extends includes/layout/default

include utils/icons

append vars
  - var navLess= true

append head

append main
  .test(style="margin-top : 15rem")
    a(href="./styleguide.html") use the styleguide
