extends includes/layout/default

include utils/icons

append vars
  - var navLess= true

append head

append main
  .test(style="margin-top : 15rem")
    a(href="./styleguide.html") use the styleguide
    a(href="./test.html") go to test

    p= htmlWebpackPlugin.files
    +icon("menu")
    +icon("menu")

    +icon("menu")
    +icon("images")
    +icon("button")
    +icon("aspect_ratio", "material-icons")
    +icon("aspect_ratio", "material-icons")
    +icon("credit-card", "font-awesome")
    +icon("credit-card", "font-awesome")
    +icon("camera", "glyphicon")
    +icon("camera", "glyphicon")


    +icon("xf072", "font-awesome", true)
    +icon("xf072", "font-awesome", true)
    +icon("xe112", "glyphicon", true)
    +icon("xe112", "glyphicon", true)



