extends includes/layout/default

include utils/icons

append vars
  - var navLess= true

append head

append main
  a(href="./styleguide.html") use the styleguide

  img(src="assets/images/1.jpg" alt="")

  // Bootstrap glyphicons classes
  i.glyphicon.glyphicon-cloud
  i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-user
  i.glyphicon.glyphicon-envelope
  i.glyphicon.glyphicon-thumbs-up
  // font-awesome classes
  i.fa.fa-spinner.fa-spin
  i.fa.fa-circle-o-notch.fa-spin
  i.fa.fa-refresh.fa-spin
  i.fa.fa-cog.fa-spin
  i.fa.fa-spinner.fa-pulse
  //- i.fa.fa-car.fa-4x.fa-stack-2x
  // material-design-icons class and contents
  i.material-icons cloud
  i.material-icons favorite
  i.material-icons attachment
  i.material-icons computer
  i.material-icons traffic
