- var starterItems = ["titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components","Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies"]

button(type="button" aria-expanded="false" aria-controls="main-nav").button-nav.active-circle: +burger-svg()

nav(role="navigation" aria-label="Main navigation").open
  ul(id="main-nav")
    each starterItem in starterItems
      li: a(href="./index.html")= starterItem
