/* NAVIGATION MENU */

/*  */
/* button nav */
/*  */
$paddingNav: $paddingBody + ($lengthLogo/3);
$paddingItemsNav: 2.2rem;
$paddingTopBottomNav: $paddingItemsNav - $paddingHeader/2;

header[role="banner"] + button.button-nav {
  grid-area: navbutton;
  z-index: 2;
  align-self: center;
  justify-self: center;
  position: sticky;
  top: $paddingHeader;
  width: $widthButtonNav;
  height: $lengthLogo;
  margin: 0 $marginButtonNav;

  svg {
    fill: var(--white);
    transition: fill 0.25s;
  }

  &:hover {
    svg {
      fill: lightness(var(--primary), 6);
    }
  }
}

/*  */
/* navigation items */
/*  */

$colorDefault: lightness(var(--primary), 2.5);
$colorHover: lightness(var(--primary), 4);
$gradientNav: var(--primary) 35%, transparent;

nav[role="navigation"] {
  background: var(--primary);
  grid-area: nav;
  grid-row: 1 / 4;
  position: sticky;
  top: 0;
  height: 100vh;
  clip-path: inset(0px $widthNav 0px 0px);
  transition-property: clip-path;
  transition-duration: $transitionNavDuration;
  transition-timing-function: $transitionNavEase;
  z-index: 1;

  > ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-top: $heightHeader;
    padding-bottom: $heightFooter;
  }

  &.open {
    clip-path: inset(0px 0px 0px 0px);

    @include desktop() {
      & + main[role="main"] {
        width: calc(100% - #{$widthNav});
      }
    }
  }

  &::before,
  &::after {
    @extend %after-before--utils;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
  }

  &::before {
    top: 0;
    background: linear-gradient($gradientNav);
    height: $heightHeader + $paddingHeader;
  }

  &::after {
    bottom: 0;
    background: linear-gradient(0deg, $gradientNav);
    height: $heightFooter + $paddingHeader;
  }

  a {
    display: block;
    padding: $paddingItemsNav $paddingNav;
    color: $colorDefault;
    @include underlineText(calc(100% - #{$paddingNav * 2}), 0.1rem, $colorDefault);

    &,
    & ::after {
      transition: all ease-in-out 0.15s;
    }

    &::after {
      opacity: 0.25;
      left: $paddingNav;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      padding-top: $paddingItemsNav * 1.35;
      padding-bottom: $paddingItemsNav * 0.65;
      color: $colorHover;

      &::after {
        opacity: 1;
        height: 0.2rem;
        background-color: $colorHover;
      }
    }
  }
}
