- var starterItems = ["titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components","Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies"]

button(type="button")#button-nav
  - var widthLogo = 52;
  - var widthLine = 22;
  - var heightLogo = 40;
  - var heightLine = 3;
  - var spaceLines = 4;
  - var space = heightLine + spaceLines;
  - var positionTop = heightLogo/2 - (heightLine*3 + spaceLines*2) / 2;
  - var positionLeft = widthLogo/2 - widthLine/2;
  svg(viewBox='0 0 '+widthLogo+' '+heightLogo+'' style='enable-background:new 0 0 '+widthLogo+' '+heightLogo+';' xml:space='preserve' preserveAspectRatio='none'): g
      - for(var i=0; i < 3; i++)
          rect(x=positionLeft y='' + (i * space + positionTop) + '' width=widthLine height=heightLine)

nav(role="navigation")
  ul
    each starterItem in starterItems
      li
        a(href="" title="")= starterItem
