- var starterItems = ["titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components","Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies"]

button(type="button")#button-nav
  svg(viewBox="0 0 52 40" style="enable-background:new 0 0 52 40;" xml:space="preserve" preserveAspectRatio="none"): g
    rect(x="16" y="12.5" width="20" height="3")
    rect(x="16" y="18.5" width="20" height="3")
    rect(x="16" y="24.5" width="20" height="3")

nav(role="navigation")
  ul
    each starterItem in starterItems
      li
        a(href="" title="")= starterItem
