- var starterItems = ["titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies", "components","Buttons", "typographies", "components", "titles", "forms", "Buttons", "typographies"]

button(type="button").button-nav: +burger-svg()

nav(role="navigation")
  ul
    each starterItem in starterItems
      li
        a(href="" title="")= starterItem
