extends includes/layout/default

append vars
  - var navLess = false

append head

append body

  main(role="main")

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugit accusamus laudantium tempora ut. Ex eum nam provident possimus recusandae, officiis ratione facere laudantium, inventore tempore nobis fuga reiciendis quia libero sed dignissimos molestias sit dolorem nisi fugit, beatae ipsa suscipit repellat dolor! Aspernatur, quae numquam nulla soluta aliquid ducimus, ea quaerat dolore voluptate obcaecati consectetur recusandae dolorem corporis saepe odit in eius. Veritatis nobis distinctio explicabo ducimus sequi accusamus laudantium nisi molestias cupiditate necessitatibus. Soluta, corrupti odio tenetur ullam saepe quis accusantium expedita, dolorum iusto aliquid neque aliquam dolore voluptatem fugiat. Iusto voluptas ea amet possimus. Perferendis voluptates facere quas sunt, sapiente, earum fugit quia quos nemo mollitia quod est corrupti inventore expedita maiores, labore nesciunt minus. Fugit autem nemo repellendus, illo modi, veritatis explicabo sit tenetur quo eveniet praesentium obcaecati et eaque voluptates earum, quasi sapiente! Voluptatibus dicta omnis aliquam deleniti similique a eum explicabo quis est incidunt temporibus dolorum voluptates, maiores dolores unde amet repudiandae ad molestias officiis maxime quae harum quaerat sunt? Magni temporibus repudiandae, a facilis incidunt minima omnis nulla reiciendis expedita at corporis amet nemo aliquid, dolores deserunt dignissimos nobis facere? Rem perferendis, ullam iste suscipit natus esse reiciendis et molestias ipsum nobis dolorum sunt tenetur ipsa veritatis architecto. Eveniet saepe molestiae fuga a debitis dolores consequuntur eos esse excepturi harum itaque sint, eum ipsa rem est, rerum doloribus tenetur nostrum, similique quod veritatis soluta.


  //- .full-screen
  //-   section
  //-     p #[span start]here!
  //-     a(href="" title="") use the styleguide
