:root {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	color: var(--primary);
	font-family: var(--font-family);
	background-color: var(--white);
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

a {
	color: var(--primary);
	text-decoration: none;
}
