/* MAIN CONTAINER */

$paddingContent: ($heightHeader + $paddingBody) ($widthButtonNav + $lengthLogo/2);
$paddingContentMobile: $paddingBody + ($lengthLogo/2);

main[role="main"] {
	padding: $paddingContent;
	background: var(--light);
	position: relative;
	color: var(--white);
	display: grid;

	@include tablet() {
		padding-left: $paddingContentMobile;
		padding-right: $paddingContentMobile;
	}
}
