/* MAIN GRID */
#app {
	min-height: 100vh;
	display: grid;
	grid-template-rows: $heightHeader 1fr $heightFooter;
	grid-template-columns: $widthNav 1fr;
	grid-template-areas:
		'header main'
		'nav main'
		'footer footer';
}

header[role='banner'] {
	grid-area: header;
	position: sticky;
	top: 0px;
	z-index: 2;
}

nav[role='navigation'] {
	grid-area: nav;
	grid-row: 1 / 4;
	position: sticky;
	top: 0;
	z-index: 1;
	height: 100vh;

	> ul {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		padding-top: $heightHeader - $paddingHeader/1.5;
		padding-bottom: $heightFooter;
	}
}

main[role='main'] {
	grid-area: main;
	grid-column-start: 2;
	grid-row-end: 4;
}

footer[role='contentinfo'] {
	grid-area: footer;
	position: sticky;
	bottom: 0;
	z-index: 1;
}
