/* HEADER */
$heightTitle: (($lengthLogo/2) - $gapElemsHeader);
$heightDescription: ($lengthLogo / 2);

header[role="banner"] {
	h1 {
		position: relative;
		display: grid;
		grid-template-rows: $heightTitle $heightDescription;
		grid-template-columns: $lengthLogo auto;
		grid-gap: $gapElemsHeader;
		background: red;
		align-items: flex-start;
		line-height: 1;

		grid-template-areas:
			"logo title"
			"logo description";
	}
}

#logo {
	grid-area: logo;

	svg {
		fill: var(--white);
	}
}

#title {
	grid-area: title;
	text-transform: uppercase;
	font-size: $heightTitle + 0.3rem;
	line-height: $heightTitle + 0.3rem;

	&,
	a {
		color: var(--white);
	}

	a {
		text-transform: none;
		display: none;
	}
}

#description {
	grid-area: description;

	align-self: flex-start;
	display: block;

	svg {
		text {
			text-transform: uppercase;
			font-size: 20px;

			fill: purple;
		}
		defs rect {
			fill: var(--white);

			width: 100%;
		}
		> rect {
			fill: var(--white);
			mask: url(#mask-description);
			width: 100%;
		}
	}
}
