/* HEADER */
$heightTitle: (($lengthLogo/2) - $gapElemsHeader);
$heightDescription: ($lengthLogo / 2);

header[role="banner"] {
	h1 {
		position: relative;
		display: grid;
		grid-template-rows: $heightTitle $heightDescription;
		grid-template-columns: $lengthLogo auto;
		grid-gap: $gapElemsHeader;

		grid-template-areas:
			"logo title"
			"logo description";

		span {
			display: block;
		}
	}
}

.logo {
	grid-area: logo;
	position: relative;

	svg {
     backface-visibility: hidden;

		&:first-of-type(){
			fill: var(--white);
      z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:last-of-type(){
			fill: lightness(var(--primary), 6);
      z-index: 1;
		}
	}
}



.title {
	grid-area: title;
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: $heightTitle;
	white-space: nowrap;
	font-weight: 300;
	letter-spacing: -0.045rem;

	&,
	a {
		color: var(--white);
	}
	strong {
		font-weight: 600;
	}

	a {
		text-transform: none;
		font-size: 1.38rem;
		opacity: 0.75;
		transition: opacity ease 0.15s;
		font-weight: 400;

		&::before {
			content: " ";
		}

		&:hover {
			opacity: 1;
		}
	}
}

.description {
	grid-area: description;
	font-size: $heightDescription;
	justify-self: flex-start;

	svg {
		text {
			text-transform: uppercase;
			word-spacing: -0.5rem;
			letter-spacing: 0;
			font-weight: 400;
			fill: var(--black);
		}

		tspan {
			font-weight: 700;
		}

		rect {
			width: 100%;
			height: 100%;
			fill: var(--white);
		}
	}
}
