/* NAVIGATION MENU */

/*  */
/* button nav */
/*  */
$paddingNav : $paddingBody + ($lengthLogo/3);
$paddingItemsNav : 2.2rem;
$paddingTopBottomNav :  $paddingItemsNav - $paddingHeader/2;

button#button-nav{

  svg{
    fill : var(--white);
  }
}

/*  */
/* navigation items */
/*  */

$colorDefault : lightness(var(--primary), 2.5);
$colorHOver : lightness(var(--primary), 3.5);

nav[role="navigation"] {
  background: var(--primary);

  a{
    display: block;
    padding: $paddingItemsNav $paddingNav;
    color: $colorDefault;
    @include underlineText(calc(100% - #{$paddingNav*2}), 0.1rem, $colorDefault);

    &, &::after{
      transition : all ease-in-out .15s;
    }

    &::after{
      opacity : .25;
      left : $paddingNav;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover{
      padding-top: $paddingItemsNav*1.35;
      padding-bottom: $paddingItemsNav*0.65;
      color: $colorHOver;

      &::after{
        opacity: 1;
        height: .2rem;
        background-color: $colorHOver;
      }
    }
  }
}
