:root {
	/* COLORS */
	@include defineColorHSL(--white, 0, 0%, 100%);
	@include defineColorHSL(--black, 0, 0%, 0%);
	@include defineColorHSL(--light, 171, 20%, 72%);
	@include defineColorHSL(--gray, 218, 12%, 39%);
	@include defineColorHSL(--dark, 230, 5%, 25%);
	@include defineColorHSL(--primary, 900, 100%, 15%);

	/* TYPOGRAPH */
	--font-family: "Inter", sans-serif;
}

/* SIZES */
//minimal wiewport size
$minWidth: 32rem;
$paddingBody: 1.6rem;

/* HEADER */
// logo width and height
$lengthLogo: 4rem;
$paddingHeader: $paddingBody;
$heightHeader: $lengthLogo + ($paddingHeader * 2);
$gapElemsHeader: 0.6rem;

/* FOOTER */
$heightFooter: 5.8rem;

/* NAVIGATION */
$widthNav: $minWidth;
$widthButtonNav: 5.2rem;
