:root {
	/* COLORS */
	@include defineColorHSL(--white, 0, 0%, 100%);
	@include defineColorHSL(--black, 0, 0%, 0%);
	@include defineColorHSL(--light, 219, 25%, 61%);
	@include defineColorHSL(--gray, 218, 12%, 39%);
	@include defineColorHSL(--dark, 217, 100%, 21%);

	/* TYPOGRAPH */
	--font-family: 'Inter', sans-serif;
}

/* SIZES */
//minimal wiewport size
$minWidth: 32rem;

/* BREAKPOINTS */
$mobileBreak: $minWidth;
$tabletBreak: 76.8rem;
$desktopBreak: 97.9rem;
$desktopLargeBreak: 120rem;

/* HEADER */
// logo width and height
$lengthLogo: 4rem;
$paddingHeader : 1.6rem;
$gapElemsHeader: 0.8rem;
$heightHeader: $lengthLogo + ($paddingHeader*2);

/* FOOTER */
$heightFooter: 5.8rem;

/* NAVIGATION */
$widthMenu: $minWidth;


